
@inherits LayoutComponentBase

<PageTitle>BLambda.Shell</PageTitle>
<HeadContent>
    <!--<link href="css/flex-theme.min.css" rel="stylesheet" />-->
    
</HeadContent>

<main class="l-shell--main">
    <CustomErrorBoundary @ref="errorBoundary">
        @Body
    </CustomErrorBoundary>
</main>
<Header />
<NavMenu />
<Footer />

<LFlyout />
<RFlyout />