@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Options

<header class="flex nowrap center" role="banner">
    <Logo/>
    <FlexBox Class="box" hidden="@collapsed"
             Orientation="Orientation.Vertical" HorizontalGap="0" VerticalGap="0"
             HorizontalAlignment="FlexBoxHorizontalAlignment.Right"
             VerticalAlignment="FlexBoxVerticalAlignment.Center"
             >
        
        <AuthorizeView>
            <Authorized>

                <div class="toolbar">
                    <FluentButton Appearance="Appearance.Stealth" @onclick="SignOut" title="Sign out">
                        <FluentIcon Value="@(new Icons.Regular.Size20.SignOut())" />
                    </FluentButton>
                </div>               
               
                <MenuButton Class="account-button" Text="@(context.User.Identity?.Name)" Width="175px">
                    <FluentMenuItem OnClick="@((e) => Navigation.NavigateTo("/authentication/identity"))">
                        Account Info
                    </FluentMenuItem>
                    <FluentDivider />

                    <FluentMenuItem OnClick="SignOut">
                        Sign out
                    </FluentMenuItem>
                </MenuButton>


            </Authorized>
            <NotAuthorized>
                <h1>BLambda Shell</h1>
                <a href="authentication/login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>

    </FlexBox>
</header>

@implements IDisposable

@inject INavMenuService NavMenu
@inject NavigationManager Navigation
@inject IOptionsSnapshot<RemoteAuthenticationOptions<ApiAuthorizationProviderOptions>> Options
@inject ILogger<Header> logger

@code {
    bool collapsed => !NavMenu.IsExpanded;

    protected override void OnInitialized()
    {
        NavMenu.Expanded += NavMenu_Toggled;
    }

    async Task NavMenu_Toggled(bool open)
    {
        await InvokeAsync(StateHasChanged);
    }

    void SignOut()
    {   
        var logoutPath = Options.Get(Microsoft.Extensions.Options.Options.DefaultName).AuthenticationPaths.LogOutPath;

        Navigation.NavigateToLogout(logoutPath);
    }

    void IDisposable.Dispose()
    {
        NavMenu.Expanded -= NavMenu_Toggled;
    }
}
