<a href="/" title="BLambda Shell">
    <figure role="presentation">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
            <g data-name="Tyts-symbol">
                <image preserveAspectRatio="none"
                       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGCAYAAABxLuKEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAH
WElEQVR4Ae3bbWwbdx3AcZ8fHDtZsqElrZ2GKl0yZQtNxgZpk6kSJQtoorQTFV0p1cSLjheDTVAm
BAhpYwKBgFCpIzy0pfACCa1hfUNThLSJaixrFqRUVVFS0pY+JEqC0weSNHb84DvzjXSRfvpz9ryd
z3GQv9JHVmonvvvZvrPPV1e5cuXKlStXrtTTUNQymUwVF41oRTM2oBZBLBfDbUzhMsZwXdO02P/V
YBiExkU9uvFZbEEYfmjIlYEUZjCMAfwVMwwq41qLMRAfunAc09BhNx1TOIZO+NbSQNzYij8iBqeK
oh8dcJf6UNahD1Hkk44FRDBpimABOvJpEYdRV3LbGPMR60EfmqHBqjjGcRbvYgwRLCCO5QKoQQit
6MTjaEEFrMrgMr6CM2x/jFJ4llTgRSzAKgPX0IstqIL2fjbeuAdb8TNchwGr5nEQ/tUeSgB9SELN
wBS+hRC0QuzhEMZ3MA2rkjiMwGoNJYjfwIBaHEcRdvD+63EcCagZOILAarx8+mBAbQK74SnCcniw
B5NQM3AYFcXcHX8TSaidw2ZoRXyQNLTjPNSSOAh3MRbk01iA2iA+bHF7Pzah1uHl2oghqM3jiWK8
T7kCtRE0WNz+PgwggQi+CM3h4ZyH2jjqnHwJ9UFtAh/J8jsvKNuhG7jX4QevHZNZtjduJ+6wC4uQ
JfA5aFl+56eQxbG+CNucPUhAtogOJz4QnoTaUXhy/F6vxSDXF2E76MVxqPXDW8g72oYYZJMIu6jE
BiPf50xDFkOnK4/ceR5POYCg/Ge8qmnajKtEY9mmufg5MlgpiGfNdbI9+QbMQHYNIReV6jNGPGtu
QDaFetvPGOrBOsj6EUGpN4PXIQuhuxCD2aHcLo5+u4cWxR7E59Q7U3MZ+5FQ1nmHrcGYB663QnYR
sP8hlIteXMRpfm5zOdMoxiHr5P4qXTnyIlebEIbsLJZgty/hIDQ0oYqF3e7AQaYohtCOlerRiLEP
+lLaDA9kQwU6Qt8BDSs9Bp9DL6chyLxotbONeVBZeAOjKERu658daRSGcl8P2hnMBsiiuFnEXe2T
aIHdoc0iqq6bncHcbzGY+SIM5aNc/A2n8Taehp3msaSum53BVEKWQgJO9zya4EYdvm3zM04cSXXd
cg+mNFsHWW2xl9VboO+mu7EPt9HHnmDSVVoF4IcsZmcwdyHzI4CUsps9IV6zHQxrJ8OJOvWVDRfP
4Am8g9/mcV/VCEB2285gkpB54IXsSWVD1oUNuAQneg69cONp3M+wXnmP91brcQ9k03a2MXOQBVAF
WTtkd7EIp3pKLLeGXfAgV63KumZwxc5g7lgMpkbZvjRAdhNzcCqf+nMe28AtkKUwamcw/4bMi1rl
52qLYaZRKgXxOGQR3LAzmAlkIGtSHq0qyFIopR7Cw5ANs01atDOYq9At7milNJZybNAzUPNmGaAX
D5hfr6y3GHaGNItlNpCrvQgqtz8FsvdSugNZu3gXmkYMshp4suwSvdiI5f4BmQ9/wdv4GGQXkUYN
6iC7g0y2Lwi5+DxkN3HG7mDmcR2yh1EDl3nsZBayWrFrvGTxqbYLy53GXcg2ok3Zy+g4ae6OH0AY
sstcx20s24dGyN7AlI3BZD2WEUYLVhq3GEw9ljuHGGRf4JFcHtw1/AQ6cvUmTmC5/aiE7B38T+ZB
9xeVdUzgaEEOhpmndKQhe1lc/wx0rGTgy+I0jTchS+Or0ODHD7AItTQGEDb/VhvmIZtFY5bTQ34J
tVPwF+oteANmIRtG0Ly+FQuQnYTbvH4vkpDdRLf41nAbfoURXMDr2I9KcWzm3Xy/CeXfdmIJshi2
FfrknD9DFsXHxelmIxYr3mReX4W3oDaLvfDJr1ZNmvgW4dEsQ/kPWiyW9yFchdoxeAr9we0ADMgO
ietfgszAK+L6rbgDtRROYRdC8ELDfdiCX2AOaml8w2I5wxiG2lWEnfhE24BpyCZQK15O6opH0Cge
+f2Iwao0buOfGMM0ErBKxzH4lWUMYRBqd7HTyXNjjkOmi42sF7+H2h9QIf7Gs5jDBy2FI6hWlq8F
Z7MM/LtwO3kcdhuSkJ1DwLz+ESxAlsbXxIZYw6dwAQbeT7fwAgLKA/YZ/AtqBn6NgNMHqP04A5mO
HWKlfwwDshieg1s5Be3rGIeOXEXQh2ZleerwKpagZuA1BIt19sBu6JB9T1nhv0NtCT9CjfL3qrEd
L+ME3sIg/oRD2I2QspeqxfO4CgNqaRxBZbFPepYrnkCPcptHMQE1HcN4CtVZtmMek3x2aQjiEXwf
l6DDqkW8hOBqnBG+GScwiANZ3mD1IAKrUjiPH6IHm3AvfKYqhNGGvTiEYUSRqxvYBU+p/xedDlzG
exVFBBOmGcwhjXxawu+wwVXqKefd9iOBQhfHAD4Br2utxUJXYA+GkYSdDNzCa+iGf83/L1pzL/FJ
7MN2hOBBrjLQMYsRDOANTIhjMGt7MDJzt92Cx9CMED4EDXHcwgyu4AKuMQh5UKtcuXLlypUrV+6/
S83oQj/pG4QAAAAASUVORK5CYII=
" />
            </g>
        </svg>
    </figure>
</a>