@page "/about"

@code{
    public static readonly string PageUrl = "/about";
}

<PageTitle>About BLambda Shell</PageTitle>

<h1>About BLambda Shell</h1>

<p>
    Welcome to your new app powered by Blazor WASM and designed with FluentUI Web Components.
</p>