@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using Microsoft.Extensions.Options;
@using System.Net;
@using Tyts.BLambda.Shell.Templates.Default.Pages
@inherits LayoutComponentBase

<PageTitle>BLambda Welcome!</PageTitle>
<HeadContent>
    <!--<link href="css/flex-theme.min.css" rel="stylesheet" />-->

</HeadContent>

<div class="l-shell">
    <main>
        <CustomErrorBoundary @ref="errorBoundary">
            @if (isLoggedOut)
            {
                <Goodby />
            }
            else
            {
                <Welcome>
                    @Body
                </Welcome>
            }
        </CustomErrorBoundary>
    </main>
</div>

@inject NavigationManager Navigation
@inject IOptionsSnapshot<RemoteAuthenticationOptions<ApiAuthorizationProviderOptions>> Options

@implements IDisposable
@code{
    ErrorBoundary? errorBoundary;
    bool isLoggedOut = false;
    string loggedOutPath = default!;

    protected override void OnInitialized()
    {
        loggedOutPath = Options.Get(Microsoft.Extensions.Options.Options.DefaultName).AuthenticationPaths.LogOutSucceededPath;
        isLoggedOut = CheckLoggedOut(Navigation.Uri);

        Navigation.LocationChanged += LocationChanged;
    }
        
    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    void LocationChanged(object? sender, LocationChangedEventArgs args)
    {
        var isLoggedOut = CheckLoggedOut(args.Location);
        if (this.isLoggedOut != isLoggedOut)
        {
            this.isLoggedOut = isLoggedOut;
            StateHasChanged();
        }
    }

    bool CheckLoggedOut(string url) => url.Contains(loggedOutPath, StringComparison.OrdinalIgnoreCase);

    void IDisposable.Dispose()
    {
        Navigation.LocationChanged -= LocationChanged;
    }
}