@page "/"
@using Tyts.BLambda.Blazor.Survey
@attribute [Authorize]


<PageTitle>BLambda Shell</PageTitle>

<h1>Hello, world!</h1>

<p>
    Welcome to your new app powered by Blazor WASM and designed with FluentUI Web Components.
</p>

<SurveyPrompt Title="How is Blazor working for you?" />