
<footer>    
    <FluentDivider></FluentDivider>
    
    <div class="toolbar">

        <Toolbar Collapsed="@collapsed">
            <Slot TSlot=Slots.FooterToolbarSlot />
        </Toolbar>
        
    </div>
    
</footer>


@implements IDisposable

@inject INavMenuService NavMenu

@code {
    bool collapsed => !NavMenu.IsExpanded;

    protected override void OnInitialized()
    {
        NavMenu.Expanded += NavMenu_Toggled;
    }

    async Task NavMenu_Toggled(bool open)
    {
        await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        NavMenu.Expanded -= NavMenu_Toggled;
    }
}
