footer {
    grid-area: footer;
    background-color: var(--fill-color);
    overflow: hidden;
    z-index: 30;
}

::deep .toolbar {
    display: flex;
}

::deep .toolbar-right {
    padding: 0;
    width: 32px;
    --toolbar-item-gap: 0;
}