
.nav-menu {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    background-color: var(--fill-color);
    z-index: 30;
}


::deep .thin-scrollbar {
    padding: 0 var(--one-dup);
    overflow: hidden auto;
}

::deep .expander {
    padding: 0 var(--one-dup);
} 

::deep .search {
    margin: var(--one-dup) 0 var(--one-dup);
}

::deep .search::part(root) {
    border: 0;
}

::deep .search::part(start) {
    margin-inline-start: var(--one-dup);
}

::deep fluent-accordion-item::part(start) {
    padding-inline-start: var(--one-dup);
}

::deep fluent-accordion-item::part(icon) {
    margin: var(--one-dup);
}

::deep fluent-accordion-item::part(region) {
    background: var(--neutral-layer-1);
    padding: 2px;
}

::deep fluent-button,
::deep fluent-anchor {
    display: flex;
}

    ::deep fluent-button::part(control),
    ::deep fluent-anchor::part(control) {
        justify-content: start;
    }

    ::deep fluent-button::part(content),
    ::deep fluent-anchor::part(content) {
        flex-grow: 2;
        text-align: left;
    }

/* COLLAPSED */

.nav-menu.collapsed ::deep .search {
    display: none;
}

.nav-menu.collapsed ::deep fluent-accordion-item::part(heading) {
    grid-template-columns: auto 0 auto auto;
}

.nav-menu.collapsed ::deep fluent-accordion-item::part(button) {
    margin: 0;
    z-index: 1;
}

.nav-menu.collapsed ::deep fluent-accordion-item::part(icon) {
    width: calc((var(--base-height-multiplier) + var(--density)));
}

.nav-menu.collapsed ::deep fluent-accordion-item::part(heading-content),
.nav-menu.collapsed ::deep fluent-button::part(content),
.nav-menu.collapsed ::deep fluent-anchor::part(content) {
    display: none;
}

.nav-menu.collapsed ::deep fluent-button::part(start),
.nav-menu.collapsed ::deep fluent-anchor::part(start) {
    margin-inline-end: 0;
}

.nav-menu.collapsed ::deep fluent-button::part(end),
.nav-menu.collapsed ::deep fluent-anchor::part(end) {
    display: none;
}