
<h1>Welcome @user?.Identity?.Name</h1>

<dl>
    <dt>@nameof(profile.Phone)</dt>
    <dd>@profile.Phone</dd>
</dl>


@using System.Text.Json
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@* @inject CognitoUserPoolAccount CognitoUserPoolAccount *@

@inject RemoteUserAccount CognitoUserPoolAccount

@code {
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; } = default!;
    ClaimsPrincipal user { get; set; } = default!;
    CognitoUserPoolAccount profile = default!;

    protected override async Task OnInitializedAsync()
    {
        user = (await AuthenticationState).User;
        profile = (CognitoUserPoolAccount as CognitoUserPoolAccount) ?? new CognitoUserPoolAccount();
    }
}