/*
    Grid layout

    SMACSS+BEM - Base->Layout(l-)->Module(Component c-)->State->Theme
*/

:root {
    --min-width: 280px;
    --sidebar-expanded-width: 240px;
    --sidebar-collapsed-width: 60px;

    /** collapsed 60px **/
    --logo-height: var(--sidebar-collapsed-width);
    --logo-width: var(--sidebar-collapsed-width);
    --sidebar-width: var(--sidebar-collapsed-width);
    --l-flyout-width: 300px;
    --r-flyout-width: 100vw;


    --half-dup: calc(var(--design-unit)/2 * 1px);
    --one-dup: calc(var(--design-unit) * 1px);
    --two-dup: calc(var(--design-unit) * 2px);


    /* but it diesn't work for media now */
    --size-xs: 600px; /* < - landscape phones*/
    --size-s: 960px; /* < - landscape phones*/
    --size-m: 1280px; /* < - tablets*/
    --size-l: 1920px; /* < - desktops*/
    --size-xl: 2560px; /* < - large desktops*/
    --size-xxl: 2560px; /* >= - larger desktops*/
}


/* default-layout              */
/* ------------------------- */

html, 
body {
    color-scheme: light dark;
    min-width: var(--min-width);
}

body {
    color: var(--neutral-foreground-rest);    
}